/*==================== Root ==========================*/
:root {
      --color1: coral;
      --color2: coral;
      --color3: coral;
      --color4: coral;
      --color5: coral;

      --background1: coral;
      --background2: coral;
      --background3: coral;
      --background4: coral;
      --background5: coral;
}

/*==================== Container ==========================*/
body {
      background-color: rgb(47, 49, 54);
      font-primary: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-display: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.chat {
      padding-bottom: 50px !important;
}

.card-content {
      color: white;
      background-color: rgb(54, 57, 63);
      border: 2px solid rgb(57, 61, 66);
      box-shadow: 0px 1px 2px 0px rgba(167, 167, 167, 0.123);
      width: 100%;
}

.card-service {
      color: white;
      background-color: rgb(49, 52, 58);
      border: 2px solid rgb(47, 49, 54);
      box-shadow: 0px 1px 2px 0px rgb(47, 49, 54);
      width: 100%;
      cursor: pointer;
}

.card-project {
      color: white;
      background-color: rgb(44, 47, 53);
      border: 1px solid rgba(38, 41, 46, 0.717);
      width: 100%;
      margin: 0px !important;
      padding: 0px !important;
}

.card-project:hover {
      background-color: rgb(41, 45, 53);
}

.card-service:hover {
      color: white;
      background-color: rgb(41, 45, 53);
      border: 2px solid rgb(56, 59, 65);
      box-shadow: 0px 1px 2px 0px rgba(56, 59, 65, 0.63);
      width: 100%;
}

.card-cuenta {
      color: white;
      background-color: rgb(47, 49, 54);
      border: 2px solid rgb(47, 49, 54);
      box-shadow: 0px 1px 2px 0px rgba(167, 167, 167, 0.123);
      width: 100%;
}

.card-cuenta-2 {
      color: white;
      background-color: rgb(50, 53, 59);
      border: 2px solid rgb(50, 53, 59);
      box-shadow: 0px 1px 2px 0px rgba(167, 167, 167, 0.123);
}

.content-config {
      color: white;
      background-color: rgb(54, 57, 63);
      border: 2px solid rgb(57, 61, 66);
      box-shadow: 0px 1px 2px 0px rgba(167, 167, 167, 0.123);
      width: 100%;
      padding: 30px !important;
}

.content-check-active {
      padding: 8px;
      background-color: rgb(32, 34, 37);
      border-radius: 3px;
}
.content-check-active:hover {
      background-color: rgb(49, 51, 54);
      cursor: pointer;
}
