.avatar {
       vertical-align: middle;
       width: 45px;
       height: 45px;
       border: 2px solid rgba(31, 31, 31, 0.438);
       border-radius: 50%;
}

.avatar:hover {
       border: 2px solid rgba(0, 0, 0, 0.781);
}

.avatar-2 {
       vertical-align: middle;
       width: 55px;
       height: 55px;
       border: 2px solid rgba(31, 31, 31, 0.438);
       border-radius: 50%;
}

.avatar-2:hover {
       border: 2px solid rgba(0, 0, 0, 0.781);
}

.seccionComent-1 {
       padding: 15px;
       width: 100%;
       height: 250px;
       overflow: auto;
       border: 1px solid rgb(31, 31, 31);
       background-color: rgb(47, 49, 54);
       border-radius: 3px;
}

/* width */
.seccionComent-1::-webkit-scrollbar {
       width: 5px;
}

/* Track */
.seccionComent-1::-webkit-scrollbar-track {
       margin: 0 0.5em;
       background-color: rgb(52, 58, 63);
       width: 5px;
}

/* Handle */
.seccionComent-1::-webkit-scrollbar-thumb {
       background: rgb(32, 34, 37);
       border-radius: 10px;
}

/* Handle on hover */
.seccionComent-1::-webkit-scrollbar-thumb:hover {
       background: rgb(22, 24, 27);
}

.seccionComent-2 {
       padding: 15px;
       width: 100%;
       height: 300px;
       overflow: auto;
       border: 0px solid #ccc;
}

.seccionComent-3 {
       padding: 15px;
       width: 100%;
       height: 400px;
       overflow: auto;
       border: 0px solid #ccc;
}

.user-1 {
       font-family: "Varela Round";
       font-size: 20px;
}

.user-2 {
       font-family: "Varela Round";
       font-size: 15px;
}

.user-3 {
       font-family: "Varela Round";
       font-size: 20px;
}

.user-4 {
       font-size: 18px;
       padding: 0px;
}

.myItem {
       padding: 0px;
       background-color: transparent;
       border: transparent;
       font-size: 30px;
}

.myItem-2 {
       padding: 0px;
       background-color: transparent;
       border: transparent;
       font-size: 20px;
}

.horaPost {
       font-size: 14px;
       color: rgb(105, 105, 105);
}

.horaPost-2 {
       font-size: 12px;
       color: rgb(105, 105, 105);
}

.preview {
       color: white;
       background-color: rgb(47, 49, 54);
       width: 100%;
}

.preview:hover {
       background-color: rgb(44, 47, 53);
}

.content-message {
}

@media only screen and (max-width: 600px) {
       .content-message {
              padding-left: 50px;
       }
       /* width */
       .seccionComent-1::-webkit-scrollbar {
              width: 3px;
       }
}

.switch {
       position: relative;
       display: inline-block;
       width: 60px;
       height: 34px;
}

.switch input {
       opacity: 0;
       width: 0;
       height: 0;
}

.slider {
       position: absolute;
       cursor: pointer;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background-color: #ccc;
       -webkit-transition: 0.4s;
       transition: 0.4s;
}

.slider:before {
       position: absolute;
       content: "";
       height: 26px;
       width: 26px;
       left: 4px;
       bottom: 4px;
       background-color: white;
       -webkit-transition: 0.4s;
       transition: 0.4s;
}

input:checked + .slider {
       background-color: #2196f3;
}

input:focus + .slider {
       box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
       -webkit-transform: translateX(26px);
       -ms-transform: translateX(26px);
       transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
       border-radius: 34px;
}

.slider.round:before {
       border-radius: 50%;
}
.bg-chat {
       background-color: #2f3136;
}

.seccion-chat {
       width: 100%;
       height: 100%;
       padding: 15px;
       overflow: auto;
       background-color: rgb(47, 49, 54);
       border-radius: 3px;
}
