.body {
       background-color: rgb(24, 25, 26);
       font-family: Consolas;
}

.container {
       background-color: rgb(24, 25, 26);
       font-family: Consolas;
}

.textDescription {
       color: rgb(172, 172, 172);
       font-size: 12px;
}

.span {
       font-size: 14px;
}

.btn {
       font-family: Arial;
}

.myfooter {
       background-color: rgb(70, 70, 70);
}

.myfooter:hover {
       background-color: rgb(80, 80, 80);
}

.container {
}

.socials {
       display: block;
       font-size: 16px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.a,
.p {
       font-family: Verdana;
       color: white;
}

.util {
       font-family: Verdana;
       color: white;
}

.cardContent {
       color: white;
       background-color: rgb(36, 37, 38);
       border: 2px solid rgb(40, 40, 40);
       box-shadow: 0px 1px 2px 0px rgba(167, 167, 167, 0.123);
       transition: 0.3s;
}

.cardContent:hover {
       border: 2px solid rgba(71, 71, 71, 0.5);
       box-shadow: 0px 2px 4px 0px rgba(167, 167, 167, 0.2);
}

.cardProject {
       border-radius: 10px;
       box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.repo {
       background-color: rgb(50, 50, 50);
       border: 2px solid rgb(31, 32, 32);
       border-radius: 10px;
}

.repo:hover {
       background-color: rgb(70, 70, 70);
       border: 2px solid rgb(35, 35, 35);
       border-radius: 10px;
}

.myphoto {
       width: 170px;
       height: 170px;
       border-radius: 50%;
       border: 5px solid rgba(31, 32, 32, 0.548);
}

.myphoto:hover {
       border: 5px solid rgb(52, 53, 53);
}

.myphoto2 {
       width: 40px;
       height: 40px;
       border-radius: 50%;
}

.myphoto2:hover {
}

.navbar {
       height: 60px;
       background-color: rgb(36, 37, 38) !important;
       box-shadow: 1px 1px 1px rgba(129, 129, 129, 0.2);
}

.profileNav {
       padding: 3px;
       border-radius: 100px;
       background-color: rgba(255, 255, 255, 0.034);
}

.profileNav:hover {
       padding: 3px;
       background-color: rgba(255, 255, 255, 0.11);
}

.mynameNav {
       color: white;
       font-size: 16px;
}

.mynameNav:hover {
       text-decoration: none;
       color: white;
}

.textAbout {
       border-left: 5px solid rgb(83, 83, 83);
       font-family: Verdana;
       padding: 8px;
       font-size: 17px;
       color: rgb(185, 185, 185);
}

.textAbout:hover {
       border-left: 5px solid rgb(255, 255, 255);
       font-family: Verdana;
       padding: 8px;
       font-size: 17px;
       color: rgb(255, 255, 255);
}

.pad.w {
       box-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 0px 0 #b9b9b9,
              0 5px 0 rgba(125, 125, 125, 0.2), 0 6px 1px rgba(0, 0, 0, 0.2),
              0 0 5px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2),
              0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
              0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.2),
              0 0 4px white, 0 0px 3px white,
              1px 1px 5px rgba(255, 155, 0, 0.37),
              1px 1px 10px rgba(102, 60, 0, 0.5);
}

.a {
       text-decoration: none;
       color: rgb(38, 125, 238);
}

.a:hover {
       text-decoration: underline;
       color: rgb(44, 123, 226);
}

.aGithub {
       color: rgb(49, 199, 99);
}

.aGithub:hover {
       color: rgb(28, 129, 62);
}

.language {
       color: rgb(184, 184, 184);
}

.language:hover {
       color: rgb(218, 218, 218);
       text-decoration: underline;
}

.languageImg {
       width: 70px;
       height: 70px;
}

.itemLanguaje {
       font-size: 19px;
       background-color: rgba(24, 25, 26, 0.11);
       border-radius: 5px;
       padding-left: 15px;
       margin: 5px;
}

.itemLanguaje:hover {
       background-color: rgb(58, 58, 58);
}

.itemTech {
       font-size: 16px;
       background-color: rgba(24, 25, 26, 0.11);
       border-radius: 5px;
       padding-left: 15px;
       margin: 3px;
}

.itemTech:hover {
       background-color: rgb(50, 50, 50);
}

.bgDarkField {
       background-color: rgb(33, 33, 34) !important;
       border-color: rgb(116, 116, 116);
}

.bgForm {
       background-color: transparent !important;
}

.label {
       color: rgb(255, 255, 255);
}

.bgField {
       background-color: rgb(36, 36, 36) !important;
       color: rgb(255, 255, 255);
       border: 2px solid rgb(61, 61, 61);
}
